<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /hexagon-radar-chart/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /hexagon-radar-chart/index.html [L]
</IfModule>
